
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.section {
  position: relative;
  overflow: hidden;
  height: 80vh;
  background: #003135;
  color: #fff;
  transition: background 0.3s ease-in-out;
  padding: 100px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(
    200px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  background-repeat: no-repeat;
}

.profile-photo-container {
  width: 270px;
  height: 270px;
  margin: 0 auto 30px auto;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out;
}

.profile-photo-container:hover {
  transform: scale(1.05);
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-photo::after {
  display: none;
}

.name-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
  background: linear-gradient(to right, rgb(249, 249, 249), rgb(120, 255, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;
}

.button-primary{
  background-color: rgb(244, 232, 8);
  border-radius: 10px;
  color: black;
}
.graduate-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.intro-text {
  font-size: 1.2rem;
  color: #fffefe;
  max-width: 600px;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
  .profile-photo-container {
    width: 150px;
    height: 150px;
  }

  .name-title {
    font-size: 2.2rem;
  }

  .graduate-subtitle {
    font-size: 1.2rem;
  }
}
